#popup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
#popup>img{
    max-height: 94%;
    max-width: 60%;
    margin: 2px;
}

#popup>button{
    border: none;
    overflow: hidden;
    background-color: #455d7a;
    opacity: 0.9;
    color: #c5ceda;
    font-size: 100px;
    height: 100px;
    line-height: 0;
    width: 100px;
    padding: 1%;
    cursor: pointer;
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    #popup>button{
        font-size: 64px;
        height: 64px;
        width: 64px;
    }
    #popup>img{
        max-height: 65%;
        max-width: 65%;
        margin: 2px;
    }
}


.left::before{
    content: "<";
}
.right::before{
    content: ">";
}