#contner{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer{
    margin-top: auto;
    width: 100%;

    background-color: #233142;
    color: #696f77;
    font-size: 1.9rem;
    padding: 15px 0 15px 0;

    border-top: 1px solid #696f77;
    text-align: center;
}
main{
    padding-bottom: 8px;
}