
footer{
    margin-top: 30px;
    text-align: center;

    width: 100%;
    background-color: #233142;
    border-top: 1px solid #696f77;
    color: #696f77;
    font-size: 30px;
    padding: 15px 0 15px 0;
}
